@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft Rus';
  src: url('fonts/minecraft-webfont.woff'), url('fonts/minecraft-webfont.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Minecraft Rus", sans-serif;
  font-style: normal;
}
